/* set color and font  */
:root{
    --font-HeaderColor:#FFFFFF;
    --menu-BarFontColor : #555555;
    --header-ParaSize :50px;
    --header-FontSize:120px;
    --heder-Color:#000000;
    --paragraph-Size:30px;
    --para-Color:#D9D9D9;
    --internet-backGroundColor:linear-gradient(180deg, #2C74B3 48.44%, #0A2647 100%); 
    --base-BackGroundcolor:#0A2647;
    --world-FrontSection:linear-gradient(180deg, #0A2647 10.18%, #273B4A 100%);
    --circle-Background:linear-gradient(180deg, #0A2647 10.18%, #273B4A 100%);
    --slider-SectionBackGround: linear-gradient(180deg, #0A2647 0%, #222222 100%);
    --cardpara-Size:25px;
    --cardheader-Size:60px;
    --textFont-Weight:400px; 
     --card-paragraphSize:30px;
    --table-BackGroundColor: rgba(10, 38, 71, 0.26);
    --footer-HeadingSize:30px;
    --footer-Paraghraph:25px;
    /* --circleShadowstyle :#0A2647;filter: blur(6.24041px); */
}

/* set color and font  */