/* navbar Respansive Design style */
@media screen and (max-width:1050px) {
    nav{
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    nav .nav-item-btn{
        display: none;
    }
    nav .navbar-brand-div{
        width: 15% !important;
        margin: 0% !important;
        
    }
    nav .navbar-brand-div a {
        margin: 0 !important;
        padding: 0% !important;
    }
    .navbar-nav{
        margin: 0% !important;
        width: 100% !important;
        height: 100% !important;
    }
    #nav-form form{
        width: 100% !important;
        position: relative;
    }
    #nav-form form input{
        width: 100% !important;
    }
}
/* navbar Respansive Design style */
/* text-heading respansive style */
@media screen and (max-width:400px) {
    .text-heading .text-header{
            font-size: large;
    }
}
/* text-heading respansive style */

@media screen and (max-width:300px){
    #Home-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: right;
        justify-content: right;
    }
    nav{
        
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items:center;
        justify-content: center;
        direction: rtl;
    }
    #content{

        text-align: right;
    }
    #content .text-heading {
        text-align: right;
    }
    




}
