 @import url("./base.css");  



/* html and body Style */
*{
    margin: 0%;
    padding: 0%;
    direction: rtl;
    box-sizing: border-box;
}
body , html{
    width: 100%;
    margin:0 ;
    padding: 0%;
}
/* html and body style */
/* homeSection */

#Home-section{
    border: none;
    background: #0A2647;
    position: fixed;
    margin: 0%;
    overflow: scroll;
    overflow-x: hidden;
}

/* navbar */
#Home-section nav{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin:  auto;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}
#Home-section nav .navbar-brand{
    border: none;
    cursor: pointer;
    position: relative;
    color: var(--font-HeaderColor);
    font-size: 2rem;
    text-align: left;
}




#Home-section nav .contact-us{
    border: 2px solid #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    height: 2.5em;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: #ffffff;
}
#Home-section nav .contact-us a {
    text-decoration: none;
    color: #0A2647;
    position: relative;
}
#Home-section nav  .btn-text-togle{
    color: var(--font-HeaderColor);
    font-size: 1rem;    
    border: none;
    padding: 0.5rem 0.5rem;
    margin: 0.2rem auto;
    position: relative;
    text-decoration: none;
}
#Home-section nav .navbar-togle-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    align-items: flex-start;
    box-sizing: border-box;
    padding-right: 3%;
    
}
#Home-section nav .navbar-togle-btn .bar{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0.2rem;
    width: 40%;
    margin-top: 0.5rem;
    transition: all 0.2s ease-in;
}


/* menu bar-style */
.parentMenuBar{
    display: flex;
    text-align: right;
    align-items: flex-start;
    justify-content: flex-start;
}


.menu-bar{
    border: none ;
    width: 0;
    background-color: #ffffff;
    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    height: 3rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-right: 1rem;
}

.menu-bar-nav{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.5rem auto;
    height: 3rem;
}


.menu-bar .menu-bar-items{
border: none;
list-style-type: none;
margin: 1rem auto;
padding: 0.2rem  0.3rem;
border-radius: 1vh;
transition: all 0.3s ease;
display: none;
}
.menu-bar .menu-bar-items:hover{
background: #205295;
box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.menu-bar .menu-bar-items:hover a {
    color: #FFFFFF;

}


.menu-bar-links{
    border: none;
    text-decoration: none;
    color: #555555;
    font-size: 1rem;
    font-weight: 400;
}
/* End menu */
.text-heading{
    color: #ffffff;
    margin-top: 1rem;
}

/* card-Container */
#card-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin:auto;
}

.image-heading-items{
    border: none;
    height: 100%;
    width: 100%;
    position: relative;
}
.image-heading-items img{
    border-radius: 1vh;
}

.card-image{
    cursor: pointer;
}




/* card-Container */











/* navbar */











/* homeSection */
